@import "bio";
@import "footer";
@import "people";
@import "projects";
@import "companies";
@import "banner";
@import "technologies";
@import "responsive";
@import "functions";

html {
	font-size: 100%;
}

body {
	font-family: Roboto;
}

.row {
	&.no-padding {
		margin-left: 0;
		margin-right: 0;

		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
			padding-left: 0;
			padding-right: 0;

			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;

		}
	}
}

h1 { font-size: em(35); }
h2 { font-size: em(30); }
h3 { font-size: em(25); }
h4 { font-size: em(20); }
h5 { font-size: em(16); }

h2 {
	margin-bottom: em(15);
}

h5 {
	font-weight: 300;
}

hr {
	margin-top: em(35);
	margin-bottom: em(35);
}